<!DOCTYPE HTML>
<html lang="<%= htmlWebpackPlugin.options.lang || 'en-US' %>">
	<head>
        <title><%= htmlWebpackPlugin.options.env %> -- <%= htmlWebpackPlugin.options.title %></title>
        <meta charset="<%= htmlWebpackPlugin.options.charset || 'UTF-8' %>" />
        <% if (htmlWebpackPlugin.options.releaseTime) { %>
        <meta name="release-time" content="<%= htmlWebpackPlugin.options.releaseTime %>" />
        <% } %>
        <% if (htmlWebpackPlugin.options.name) { %>
        <meta name="name" content="<%= htmlWebpackPlugin.options.name %>" />
        <% } %>
        <% if (htmlWebpackPlugin.options.version) { %>
        <meta name="version" content="<%= htmlWebpackPlugin.options.version %>" />
        <% } %>
        <% if (htmlWebpackPlugin.options.commitid) { %>
        <meta name="commitid" content="<%= htmlWebpackPlugin.options.commitid %>" />
        <% } %>
        <% if (htmlWebpackPlugin.options.env) { %>
        <meta name="env" content="<%= htmlWebpackPlugin.options.env %>" />
        <% } %>
        <meta name="keywords" content="<%= htmlWebpackPlugin.options.keywords || '' %>"  />
        <meta name="description" content="<%= htmlWebpackPlugin.options.description || '' %>" />
        <meta name="viewport" content="initial-scale=1.0,user-scalable=no,maximum-scale=1,width=device-width" />
        <meta name="apple-mobile-web-app-capable" content="yes" />
        <meta name="apple-mobile-web-app-status-bar-style" content="black" />
        <meta name="format-detection" content="telephone=no"  />
        <meta http-equiv="x-rim-auto-match" content="none" />
        <meta http-equiv="pragma" content="no-cache" />
        <meta http-equiv="Cache-Control" content="no-cache, must-revalidate" />
        <meta http-equiv="expires" content="0" />
        <% if (htmlWebpackPlugin.options.favicon) { %>
        <link rel="shortcut icon" href="<%= htmlWebpackPlugin.options.favicon %>" type="image/x-icon">
        <% } %>
        <style type="text/css">
            body{ margin: 0px; padding: 0px; }
            #zr-container{ }
            #zr-container > .zr-container-loading{ width: 100%; text-align: center; padding: 80px 0px; }
            #zr-container > .zr-container-loading > img{ width: 64px; height: 64px; }
        </style>
        <% for (var link in htmlWebpackPlugin.options.links) { %>
        <link rel="stylesheet" href="<%= htmlWebpackPlugin.options.links[link] %>" />
        <% } %>
	</head>
	<body>
		<div id='zr-container'>
			<div class="zr-container-loading">
				<img src="./images/loading-big.gif" />
			</div>
        </div>
        <% for (var external in htmlWebpackPlugin.options.externals) { %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.externals[external] %>?<%= htmlWebpackPlugin.options.commitid%>" ></script>
        <% } %>
        <% for (var script in htmlWebpackPlugin.options.scripts) { %>
        <script type="text/javascript" src="<%= htmlWebpackPlugin.options.scripts[script] %>?<%= htmlWebpackPlugin.options.commitid%>" ></script>
        <% } %>
	</body>
</html>